body {
background: black;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
overflow: hidden;
}

.container {
position: relative;
width: 500px;
margin: 40px auto;
}

img {
position: absolute;
width: 100%;
height: auto;
transition: all 2s ease;
}

.guy {
display: block;
width: 100%;
max-width: 500px;
border-radius: 18px;
position: relative;
z-index: 1;
transition: transform 0.7s;
}

.dog {
position: absolute;
z-index: 2;
pointer-events: none;
transition: opacity 0.7s, transform 0.7s;
}

.shock, .dog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(2); /* по центру і масштаб */
  width: 300px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.5s, filter 1.5s, transform 1.5s;
}

.zoom {
transform: scale(2);
}

.show {
opacity: 1;
}

.fireworks {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 100;
}
